.dialog {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: 250ms;
  white-space: nowrap;
  z-index: 5;
}
.dialog .height {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 0;
}
.dialog .content {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background: #ffffff;
  display: inline-block;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 17px;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}
.dialog .content .title {
  color: #616161;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}
.dialog .content .actions {
  text-align: right;
}
.dialog.preactive {
  display: block;
}
.dialog.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.dialog.active .content {
  transform: translate(0, 0) scale(1) !important;
  transition: all 0.4s ease-in-out;
}









.menu {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 250ms linear;
  z-index: 4;
}
.menu .content {
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform: translatex(-100%);
  transition: all 0.4s ease-in-out;
}
.menu .content .title {
  background-color: rgb(1, 87, 155);
  color: #ffffff;
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  padding: 1em 0.5em;
}
.menu .content .items {
	margin: 0;
	padding: 0;
}
.menu .content .items .item {
  margin: 0.5em 0;
  overflow: hidden;
  position: relative;
}
.menu .content .items .item .item-link, .menu .content .items .item .item-link * {
  cursor: pointer;
}
.menu .content .items .item .item-link {
  display: block;
  padding: 1em 1.25em;
  transition: 250ms;
}
.menu .content .items .item .item-link:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.menu.preactive {
  display: block;
}
.menu.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.menu.active .content {
  transform: translatex(0);
}









.input {
  display: inline-block;
  font-size: 1em;
  position: relative;
}
.input input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #616161;
  font: inherit;
  margin: 1em 0 0 0;
  outline: none;
  transition: 250ms ease-in-out;
}
.input input:focus {
  border-bottom-color: rgb(1, 87, 155);
}
.input input:invalid {
  border-color: #e51c23;
}
.input .placeholder {
  position: absolute;
  top: 1em;
  left: 0;
  color: #bdbdbd;
  transition: 250ms ease-in-out;
}
.input.focus .placeholder {
  top: 0;
  font-size: 0.75em !important;
  color: rgb(1, 87, 155);
}
.input.has-content .placeholder,
.input.no-placeholder .placeholder {
  top: 0;
  font-size: 0.75em !important;
}




.ripple {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: block;
  height: 500px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scale(0);
  width: 500px;
}
.clicked .ripple {
  opacity: 0;
  transform: scale(1);
  transition: transform 550ms ease-in-out, opacity 550ms ease-in-out;
}





button,
input[type="button"],
input[type="submit"] {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: rgb(1, 87, 155);
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 1em;
  outline: none;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  transition: 200ms linear;
  vertical-align: bottom;
  width: 10em;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  background-color: rgb(2, 119, 189);
  transform: translate3d(0, -1px, 0);
}




.toasts {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 2.5em;
	top: 2.5em;
	width: 20em;
}
.toast {
	background-color: rgb(255,255,255);
	border-top: 0.5em solid rgb(1, 87, 155);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	margin: 0;
	opacity: 0;
	padding: 0.5em;
}
.toast.preactive {
	transition: 200ms ease-in-out;
}
.toast.active {
	margin-top: 0.5em !important;
	opacity: 1;
}
.toast > .title {
	font-weight: bold;
}
.toast > .info {
	font-size: small;
}





.toolbar {
  height: 2.5em;
  position: relative;
}
.toolbar .sect {
  height: 100%;
  position: absolute;
  top: 0;
}
.toolbar .sect .item {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 0.5em;
  overflow: hidden;
  position: relative;
}
.toolbar .sect .item .item-link {
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  height: 100%;
  padding: 0.45em 0.5em 0.25em 0.5em;
  text-decoration: none;
}
.toolbar .sect .item .item-link:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.toolbar .sect.primary {
  left: 0;
}
.toolbar .sect.secondary {
  right: 0;
}

.tabbar {
  height: 2.5em;
  position: relative;
}
.tabbar .items {
  height: 100%;
}
.tabbar .items .item {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tabbar .items .item .item-link {
  background-color: #03a9f4;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  height: 100%;
  padding: 0.25em 0.5em 0.375em 0.5em;
  text-align: center;
}
.tabbar .marker {
  background-color: #ffeb3b;
  bottom: 0;
  height: 0.25em;
  position: absolute;
  transition: 400ms ease-in-out;
}
.tabbar.bottom .items .item .item-link {
  padding: 0.375em 0.5em 0.25em 0.5em;
}
.tabbar.bottom .marker {
  bottom: auto;
  top: 0;
}